{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Hero Section -->
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="hero-title"><bold>Welcome to <bold></bold><strong>Cooked</strong></h1>
                    <h4 class="hero-text">Your stop to discover recipes and meal plans.</h4>
                </div>
            </div>
        </div>
    </section>
<!-- End Hero Section -->

<!-- How It Works Section -->
    <section class="how-it-works">
        <div class="container">
            <h2 class="section-title">How It Works</h2>
            <div class="card individual-cards">
                <h4 class="card-header">Search with Ingredients</h4>
                <div class="card-body">
                    <h5 class="card-title">Do you have ingredients at home, and don't know what to do with it?</h5>
                    <p class="card-text">Search for recipes with those ingredients.</p>
                    <a href="{{ url_for('search_with_ingredients') }}" class="btn btn-primary">Try it out!</a>
                </div>
            </div>
            <div class="card individual-cards">
                <h4 class="card-header">Search with Nutrition</h4>
                <div class="card-body">
                    <h5 class="card-title">Do you intend or need to follow a specific nutrition plan?</h5>
                    <p class="card-text">Search for recipes based on your dietary needs.</p>
                    <a href="{{ url_for('search_nutrition') }}" class="btn btn-primary">Try it out!</a>
                </div>
            </div>
        </div> 
    </section>   
{% endblock %}
