{% extends "layout.html" %}

{% block title %}Recipe Details{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Recipe Results</h1>
        <p>Showing Results for Ingredients: <strong>{{ ingredients }}</strong></p>

        <!-- Debugging -->
        <pre>{{ recipe | tojson }}</pre>

        {% if recipes %}
            <div class="row">
                {% for recipe in recipes %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="{{ recipe.image }}" class="card-img-top" alt="{{ recipe.title }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ recipe.title }}</h5>
                                <p class="card-text">Used Ingredients: {{ recipe.usedIngredientCount }} | Missed: {{ recipe.missedIngredientCount }}</p>
                                <a href="{{ url_for('recipe_details', recipe_id=recipe.id) }}" class="btn btn-primary">View Recipe</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No recipes found.</p>
        {% endif %}
    </div>
{% endblock %}