{% extends "layout.html" %}

{% block title %}Search with Ingredients{% endblock %}

{% block content %}
    <!-- Enter code here -->
    <section class="subpage-header">
        <div class="container">
            <!-- Header title and text -->
            <div class="row">
                <div class="col-12 text-left">
                    <h3 class="page-title"><strong>Discover recipes with the ingredients you have at home</strong></h3>
                    <h5 class="page-text">Enter the ingredients you have, and we'll suggest recipes tailored to your pantry.</h5>
                </div>
            </div>
        </div>
    </section>

    <section class="search-ingredients" style="margin-bottom: 100px;">
        <div class="container mt-5">
            <div class="position-relative">
                <form id="ingredient-search-form" class="d-flex align-items-center mt-4">
                    <!--Search Input-->
                    <input type="text" id="ingredient-input" class="form-control me-2" placeholder="Enter an Ingredient" autocomplete="off">
                    <!--Submit Button-->
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                <!--Ingredient search suggestions-->
                <ul id="suggestions" class="list-group position-absolute w-100" style="z-index: 1000; display: none;"></ul>
            </div>
            <!--Placeholder for Ingredient bubbles-->
            <div id="selected-ingredients" class="mt-3 d-flex flex-wrap"></div>
        </div>
        <!--Bootstrap Bundle with JavaScript-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
        <!--My Custom Javascript-->
        <script src="{{ url_for('static', filename='js/ingredient_search.js') }}"></script>

    </section>        
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/script.js') }}"></script>
{% endblock %}